body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

#game-feed {
    width: 80%;
    max-width: 600px;
    height: 300px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    background: white;
    overflow-y: auto;
}

#start-button {
    display: block;
    margin: 20px auto; /* Centre horizontalement */
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

button {
    padding: 10px 15px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#next-event-button {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#score-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#psg-logo, #barca-logo {
    width: 30px;
    height: auto;
}

#psg-logo {
    margin-right: 10px;
}

#barca-logo {
    margin-left: 10px;
}

button:hover {
    background-color: #0b7dda;
}
